	
.r9{
position: absolute;
width: 1980px;
height: 552px;
left: 0px;
top: 1340px;
background: #985656;
border-radius: 25px;
}

.r10{
position: absolute;
width: 1900.89px;
height: 476.34px;
left: 24px;
top: 40px;
background: #974646;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border: 5px solid #000000;
border-radius: 15px;
}

.logopng{
position: absolute;
width: 200px;
height: 200px;
left: 463px;
top: 50px;

background: url(Images\logo.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footerText{
position: absolute;
width: 142px;
height: 59px;
left: 754px;
top: 40px;
font-family: Calistoga;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 32px;
text-align: center;
color: #000000;
}

.footerText1{
position: absolute;
width: 142px;
height: 59px;
left: 1014px;
top: 40px;
font-family: Calistoga;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 32px;
text-align: center;
color: #000000;
}

.footerText2{
position: absolute;
width: 300px;
height: 59px;
left: 1274px;
top: 40px;
font-family: Calistoga;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 32px;
text-align: center;
color: #000000;
}

.footerListPages{
position: absolute;
width: 116px;
height: 50px;
left: 750px;
top: 80px;
font-family: Calligraffitti;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 39px;
color: #000000;
}

.footerListCuisine{
position: absolute;
width: 116px;
height: 50px;
left: 1010px;
top: 80px;
font-family: Calligraffitti;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 39px;
color: #000000;
}

.footerListLocations{
position: absolute;
width: 116px;
height: 50px;
left: 1280px;
top: 80px;
font-family: Calligraffitti;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 39px;
color: #000000;
}

.footerAddress{
position: absolute;
width: 142px;
height: 59px;
left: 455px;
top: 320px;
font-family: Calistoga;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 32px;
text-align: center;
color: #000000;
}

.footerContact{
position: absolute;
width: 142px;
height: 59px;
left: 465px;
top: 370px;
font-family: Calistoga;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 32px;
text-align: center;
color: #000000;
}

.footerAddressText{
position: absolute;
width: 420px;
height: 39px;
left: 591px;
top: 320px;
font-family: Calligraffitti;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 39px;
color: #000000;
}

.footerContactText{
position: absolute;
width: 284px;
height: 39px;
left: 612px;
top: 370px;

font-family: Calligraffitti;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 39px;

color: #000000;
}

.chillypng3{
position: absolute;
width: 102px;
height: 152px;
left: 15px;
top: 1180px;
background: url(chilly.png);
}
.chillypng4{
position: absolute;
width: 102px;
height: 152px;
left: 1800px;
top: 1180px;
background: url(chilly.png);
}
.line2{
position: absolute;
width: 1691.14px;
height: 0.4px;
left: 100px;
top: 1220px;
border: 3px solid #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);
border-radius: 5px;
}
.r9{
position: absolute;
width: 1900px;
height: 552px;
left: 0px;
top: 1340px;
background: #985656;
border-radius: 25px;
}

.r10{
position: absolute;
width: 1851.89px;
height: 476.34px;
left: 24px;
top: 40px;
background: #974646;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border: 5px solid #000000;
border-radius: 15px;
}